html,body{
	height: 100%;
	margin: 0px;
}

td{
    border: 1px solid black; /* auront une bordure de 1px */
}

nav ul li{
	list-style: none;
	display: inline-block;
	padding-left: 30px;
}

form{
	display: block;
}

.profil{
	position: absolute;
	left: 10px;
	top: 10px;
}

.profil img{
	float: left;
}

#menuDash a{
	text-decoration: none;
	color:#FFFFFF;

}

#toolBar ul{
	padding: 0px;
	margin: 0px;
}

#toolBar ul li{
	display: inline;
	list-style: none;
	width: auto;
}

#toolBar form{
	width: 60px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#global{
	position: absolute;
	width: 100%;
	background-color: white;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	text-decoration: none;
	background-color: rgba(30, 143, 241, 0.74);
}

#menuDash{
	position: relative;
	text-align: right;
}

#menuDash ul{
	padding: 30px;
}

#menuDash ul li{
	list-style: none;
	display: inline;
	padding-left: 30px;
	
}

#wrapperDash{
	text-align: center;
	position: relative;
}

#wrapperDash a{
	text-decoration: none;
	color:white;
}

#wrapperDash a:focus{
	
	color:white;
	text-decoration: underline;
}

#OptDash{
	position: relative;
	padding: 30px;
	text-align: center;	
}

#tab{
	position: relative;
	padding: 30px;
	text-align: left;
}


#footerDash{

}