@media screen and (max-width: 600px){
    section{
    	width: 100%;
    	margin: 0px;
    	
    }

    #Logo img{
	width: 140px;
	}

	#menu ul{
		padding-top: 20px;
	}

	#menu ul li{
		display: block;
		font-size: 15px;
		padding-right: 0px;
	}

    #presentation{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #solution{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #profileEnt{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #profileEnt ul{
    	padding: 0px;
    }

}
