@media screen and (max-width: 800px){
    .section{
    	width: 100%;
    	margin: 0px;
    	padding-left: 10px;
    	padding-right: 10px;

    }

    #actualite{
    opacity: 0;

    }
    #Logo img{
	   width: 140px;
       z-index: 300;
	}

    #Logo{
    position: absolute;

    top: 30px;
    left: 20px;
    font-size: 60px;

    }
    #menu{
        height: 150px;
    }

    #menuBut{
        text-align: left;
        position: relative;
        float: right;
        padding: 70px;
        display: initial;
        z-index: 200;
        color: white;
        width: auto;

    }


	#menu ul{
		padding: 0px;
        width: 100%;
        height: auto;
        float: right;
        display: none;
        overflow: hidden;
        z-index: 100;
        position: absolute;

	}

	#menu ul li{
		display: block;
		font-size: 14px;
		padding-right: 0px;
	}



    #presentation{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #solution{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #profileEnt{
    	padding-right: 10px;
    	padding-left: 10px;
    }
    #profileEnt ul{
    	padding: 0px;
    }

    #membres{
    	display: flex;
    }

    #desc{
    	padding-left: 0px;
    	padding-right: 0px;
    }

    #photo ul li{
    	padding-bottom: 40px;
    }

    #photo{
    	padding-left: 0px;
    	padding-right: 0px;
    }

	#membres p{text-indent:0px}


