body{
	display: block;
	margin: 0px;
}

#global{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	text-decoration: none;
}

#menu{
	text-align: right;
	position: relative;
	height: 200px;
	background-image: linear-gradient(to bottom right, rgba(32, 166, 255, 0.92) 0%, #FF7B7B 100%);
	margin: 0px;
	box-shadow: 10px 1px 20px #888888;
}

#menu ul{
	padding-top: 60px;
	padding-bottom: 25px;
	margin: 0px;
}

#menu li{
	display: inline;
	padding: 10px;
	list-style: none;
}

#menu li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
}

#menu li a:hover{
	text-decoration: underline;
}

#wrapper{
	position: relative;
	padding: 30px;

}




#footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to bottom right, #000000 0%, #612929 100%);
	text-align: center;
	color: white;
}

.bouton{

}